<script>
  import DB from "./DB.svelte";
  import "@polymer/paper-card";
  import "@material/mwc-button";
  import "@material/mwc-icon-button";
  import "@material/mwc-top-app-bar";
  import Book from "./Book.svelte";
  let books = [];
  let comp;
</script>

<DB bind:documents={books} initsrc="./books.json" collection="books"/>

<style>
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Svelte library</a>
        <form class="form">
          <button class="btn btn-outline-success" type="button">Add Book</button>
        </form>
        <form on:submit|preventDefault="{comp.search}" method="get" class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">search</button>
          </div>
        </form>
      </div>
    </nav>


<div class="container">
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-md-5 g-4">
      {#each books as book}
        <Book bind:book/>
      {/each}
    </div>
  </div>
</div>


