<script>
    export let book = "";
</script>

<div class="col">
    <div class="card h-100">
        <div class="col-md-7">
            <img src="data:image/jpeg;base64, {book.img.data}" class="card-img" alt="{book.title}" title="{book.title}"/>
            <div class="card-body">
                <p class="card-text">Prix: {book.price}€</p>
                <p class="card-title">{book.title}</p>
                <a href="/{book.author}" class="card-subtitle mb-1 text-muted">{book.author}</a>
            </div>
        </div>
    </div>
</div>

